@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.woff2') format('woff2');
    font-weight: 500 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fraunces';
    src: url('./fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wght" 700;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Green */
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
  
    /* Neutral */
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
  }





body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f2ebe3;
    margin: 0;
  }

  .attribution {
    margin: 1.5rem;
  }
  
  .card {
    display: flex;
    background-color: white;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    margin: 5rem;
  }
  
  .image-container {
    flex: 1;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
  }
  
  h1 {
    font-family: 'Montserrat', serif;
    font-size: 14px;
    color: #6c7289;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 0.5rem;
  }
  
  h2 {
    font-size: 25px;
    color: #1c232b;
    font-family: 'Fraunces', serif;
    font-weight: 700;
  }
  
  p {
    color: var(--grey);
    font-size: 14px;
  }
  
  .price {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .new-price {
    color: var(--green-500);
    font-size: 24px;
    font-weight: bold;
    font-family: 'Fraunces', serif;
    font-weight: 700;
  }
  
  .old-price {
    text-decoration: line-through;
    font-family: 'Fraunces', serif;
    color: var(--grey);
    font-size: 14px;
    font-weight: 700;
  }
  
  .btn {
    background-color: var(--green-500);
    border-radius: 1.5rem;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    width: 100%;
  }
  
  .btn img {
    width: 16px;
  }
  
  .btn:hover {
    background-color: var(--green-700);
  }
  
  .product-description {
    font-family: 'Montserrat', sans-serif;
   line-height: 1.5;
  }


  @media (max-width: 600px) {
    .card {
      flex-direction: column;
      width: 90%;
      max-width: 400px;
    }
  
    .image-container {
      width: 100%;
    }
  
    .image-container img {
      width: 100%;
      height: auto; 
      max-height: 250px; 
      object-fit: cover;
    }
  
    .content {
      padding: 1.5rem;
    }

    h1 {
        margin-bottom: 1rem;
    }

    .product-description {
        margin-top: 1rem;
    }

    .price {
        margin-top: 0.5rem;
    }
  
    .btn {
      width: 100%;
      padding: 1rem;
      font-family: 'Montserrat', sans-serif;
      margin-top: 1rem;
    }
  }
  